/** @format */

@import 'tailwindcss';

@layer components {
	.menu-item {
		@apply flex w-full items-center gap-2
			rounded-md
			px-2 py-1.5
			text-sm text-gray-700
			hover:bg-gray-100
			active:bg-gray-200
			cursor-pointer
			text-left;
	}
}
